@layer reset, base, components;

@import url('normalize.css') layer(reset);
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap') layer(base);

@layer reset {
    :root {
        --primary: #07755D;
        --secondary: #59bc1c;
        --denied: #ff8686;
        --text: #515959;
        --border: #59de0c;
    }
    .main {
        display: flow-root;
    }
}

@layer base {
    html {
        font-family: 'Inter', sans-serif;
        color: var(--text);
    }
    .card {
        max-width: 21em;
        margin: 1rem; /* without scaling */
        padding: 1em;
    }
}

@layer components {
    /* todo components */
    
    .card__title {
        color: var(--secondary);
        font-size:1.8em ;
        font-weight: 700;

  }

    .card__subtitle {
        font-size: ;
        color: var(--text);



    }

    .text__green {
        font-weight: 700;
        color: var(--primary);
        font-size: ;


    }

    .card__pricing {
        margin-top: 3em;
        font-size: ;
        color:var(--text) ;

    }

    .price__color {
        font-weight: 700;
        font-size: 1.5em ;
        color:var(--primary) ;


    }

    .price__date {
        color: var(--primary);
        font size: ;

    }


    .btn {
        color: ;
        font-size: ;
        font-weight: ;
    }

    .btn__color {



    }





}