@layer reset, base, components;

@import url('normalize.css') layer(reset);
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap') layer(base);

@layer reset {
    :root {
        --primary: #07755D;
        --secondary: #59bc1c;
        --denied: #ff8686;
        --text: #515959;
        --border:rgb(229, 229, 229);
    }
    .main {        
        display: flow-root;

    }
}

@layer base {
    html {
        font-family: 'Inter', sans-serif;
        color: var(--text);
    }
    .card {
        max-width: 21em;
        margin: 1rem; /* without scaling */
        padding: 1em;
        border-style: solid;
        border-color: var(--border);
        border-radius: 1rem;
        border-width: 1px;
    }
}

@layer components {
  
    /* todo components */
    
    .card__border {
        border: 


    }


    .card__title {
        color: var(--secondary);
        font-size:2em ;
        font-weight: 700;

  }

  
    .card__subtitle {
        font-size: ;
        color: var(--text);



    }


    .text__green {
        font-weight: 700;
        color: var(--primary);
        font-size: ;


    }


    .card__pricing {
        margin-top: 2.5em;
        font-size:1em ;
        color:var(--text) ;

    }


    .card__pricing__alternative {
        color: var(--text);
        font-size:0.9em ;
    }


    .price__color {
        font-weight: 700;
        font-size: 1.5em ;
        color:var(--primary) ;


    }


    .price__date {
        color: var(--primary);
        font size: ;
        font-weight: 700;
    }


    .btn {
        display: inline-block;
        margin-top: 2em;
        width: 100%;
        height: 3em;
    }


    .btn__color {
        color:white ;
        background-color: var(--primary);
        height: 3em;
        width: 100%;
        border-radius: 0.4rem;
        font-weight: 700;
        border: none;
    }


    .ul__stats {
        margin-top: 3em;
    }




    .li__text {
        color: var(--text);
    }


    .li__check {
        margin-top: 0.5em;
        list-style-image: url("../images/check.svg");
        margin-left: 1em; 
    }


    .li__cross {
        margin-top: 0.5em;
        list-style-image: url("../images/cross.svg"); 
        margin-left: 1em;
    }






}